h1 {
    text-align:center;
    color:rgb(48, 48, 48);
}

.container {
    width: 99.5%;
    height: 100%;
    overflow-y: auto;
}

.izquierda{
    width: 70%;
    height: 700px;
    overflow-y: auto;
}

.derecha{
    width: 30%;
}


.carta {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    box-sizing: border-box;
}

.table {
    width: 100%;
}

.delete {
    border-radius: 5px;
    background: rgb(255, 61, 61);
    height: 100%;
    width: 80px;
}

.delete:hover {
    background: #ff0000;
}

.edit {
    border-radius: 5px;
    background: rgb(72, 65, 255);
    height: 100%;
    width: 80px;
}

.edit:hover {
    background: #0522ff;
}

.estado {
    border-radius: 5px;
    background: rgb(139, 255, 159);
    height: 100%;
    width: 80px;
}

.estado:hover {
    background: rgb(0, 255, 42);
}

.btnOp{
    display: flex;
    justify-content: center;  
    padding: 2px;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; /* Ajusta el valor de acuerdo a tu diseño y preferencia */
  }