/*
.contdisc {  display: grid;
    grid-template-columns: 300px 300px 80px;
    grid-template-rows: 80px 80px 300px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    align-content: center;
    grid-template-areas:
      "cln cn cop1"
      "cld cd cop2"
      "ctd ctd ctd";
  }
  
  .cln { grid-area: cln; }
  
  .cn { grid-area: cn; }
  
  .cld { grid-area: cld; }
  
  .cd { grid-area: cd; }
  
  .cop1 { grid-area: cop1; }
  
  .cop2 { grid-area: cop2; }
  
  .ctd { grid-area: ctd; }
  */

  h1 {
    text-align:center;
    color:rgb(48, 48, 48);
}

.container {
    width: 99.5%;
    height: 100%;
    overflow-y: auto;
}

.izquierda{
    width: 70%;
    height: 700px;
    overflow-y: auto;
}

.derecha{
    width: 30%;
}

.cartas {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto;
}

.carta {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    box-sizing: border-box;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}