<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3>Información del Estudiante</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Nombre -->
                <div class="col-md-6">
                    <p><strong>Nombre:</strong> {{ estudiante.nombre }} {{ estudiante.apellido }}</p>
                </div>
                <!-- Código Estudiantil -->
                <div class="col-md-6">
                </div>
                <!-- Identificación -->
                <div class="col-md-6">
                    <p><strong>Identificación:</strong> {{ estudiante.identificacion }}</p>
                </div>
                <!-- Correo Electrónico -->
                <div class="col-md-6">
                    <p><strong>Correo Electrónico:</strong> {{ estudiante.email }}</p>
                </div>
                <!-- Teléfono -->
                <div class="col-md-6">
                    <p><strong>Teléfono:</strong> {{ estudiante.telefono }}</p>
                </div>
                <!-- Horas de Bienestar -->
                <div class="col-md-6">
                    <p><strong>Horas de Bienestar:</strong> {{ estudiante.hora }}</p>
                </div>
                <!-- Tipo de Usuario -->
                <div class="col-md-6">
                    <p><strong>Tipo de Usuario:</strong> {{ estudiante.tipo }}</p>
                </div>
                <!-- Estado -->
                <div class="col-md-6">
                    <p><strong>Estado:</strong> {{ estudiante.estado }}</p>

                </div>
                
               


            </div>
        </div>
        
    </div>
</div>
